* text eol=crlf
*.ogg filter=lfs diff=lfs merge=lfs binary
*.dds filter=lfs diff=lfs merge=lfs binary
*.tga filter=lfs diff=lfs merge=lfs binary
*.png filter=lfs diff=lfs merge=lfs binary
*.bmp filter=lfs diff=lfs merge=lfs binary
*.jpg filter=lfs diff=lfs merge=lfs binary

*.mesh filter=lfs diff=lfs merge=lfs binary
*.anim filter=lfs diff=lfs merge=lfs binary